APP_NAME=App
APP_ENV=local
APP_KEY=base64:oPRZ0UxXjwz7Cr4IWfTPcdgwVD3seO5apGPYHToUNrI=
APP_DEBUG=true
APP_TIMEZONE="Asia/Ho_Chi_Minh"
APP_URL=localhost:8000

APP_LOCALE=vi
APP_FALLBACK_LOCALE=vi
APP_FAKER_LOCALE=vi_VN

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql-custom-ec
DB_PORT=3306
DB_DATABASE=souko-kankyo
DB_USERNAME=scsoft
DB_PASSWORD="scs@2025"

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/session_
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=redis_

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis-custom-ec
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=mailpit-custom-ec
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="no-reply@custom-ec.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=815730
REVERB_APP_KEY=s9q9txy4zhapp25rgrjp
REVERB_APP_SECRET=gt17dq64euukkjs4rknc
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

RESTART_CACHE_MYSQL=true

JWT_SECRET=MjBj4wRD7wNbi6fnoCaU9hYuhUpxDR1gzus7DPG9vopibuKteKPv1IXRaPDKYkbV

# run:
### php artisan passport:client --password --provider=customers
#
# to render client_id and client secret
# select provider for [1] customers
PASSPORT_PERSONAL_ACCESS_CLIENT_ID=
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=

# VNPay Configuration (Sandbox)
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8000/api/payment/vnpay/return

# Giới hạn API forgot-password
OTP_FORGOT_PASSWORD_PER_MINUTE=5
OTP_FORGOT_PASSWORD_PER_DAY=30

# Giới hạn API reset-password 
OTP_RESET_PASSWORD_PER_MINUTE=5

# Giới hạn số lần nhập sai OTP tối đa
OTP_MAX_WRONG_ATTEMPTS=5

